FullStackAssignment.pdf
DEVELOPMENT_AND_DEployment_GUIDE.md
backend/node_modules/
frontend/node_modules/
.env
backend/scripts/schema.sql
backend/scripts/seed.sql
BUILD.md
DEPLOYMENT.md
backend/.env.example
RENDER_DEPLOYMENT.md
temp/DOCKER_DEPLOYMENT.md
