FullStackAssignment.pdf
DEVELOPMENT_AND_DEployment_GUIDE.md
backend/node_modules/
frontend/node_modules/
.env
BUILD.md
DEPLOYMENT.md
backend/.env.example
RENDER_DEPLOYMENT.md
temp/
pizza-gh-pages/
deploy.sh
deploy.bat
docker-compose.yml
README.md
